In [14]:
from bs4 import BeautifulSoup
from urllib import request
import nltk
from nltk import word_tokenize
import re

In [15]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
html = request.urlopen(url).read().decode('utf8')

In [16]:
raw = BeautifulSoup(html, 'html.parser', multi_valued_attributes=None).tbody

In [17]:
items = raw.find_all(attrs={'class':'titleColumn'})
movies = []

for item in items:
    movies.append([item.a.string, item.span.string, item.find_next_sibling('td').strong.string,
                 item.a['title'].split(',')[0], item.a['title'].split(',')[1], item.a['title'].split(',')[2] ])

In [18]:
import numpy as np
import pandas as pd

In [19]:
df = pd.DataFrame(movies, columns=['title', 'year', 'rate', 'dir', 'star1', 'star2'])

In [20]:
df.head(5)

,title,year,rate,dir,star1,star2
0,The Shawshank Redemption,(1994),9.2,Frank Darabont (dir.),Tim Robbins,Morgan Freeman
1,The Godfather,(1972),9.1,Francis Ford Coppola (dir.),Marlon Brando,Al Pacino
2,The Godfather: Part II,(1974),9.0,Francis Ford Coppola (dir.),Al Pacino,Robert De Niro
3,The Dark Knight,(2008),9.0,Christopher Nolan (dir.),Christian Bale,Heath Ledger
4,12 Angry Men,(1957),8.9,Sidney Lumet (dir.),Henry Fonda,Lee J. Cobb

In [21]:
df['year'] = df['year'].apply(lambda x: x.strip('()') )

df['dir'] = df['dir'].apply(lambda x: x.strip('(dir.)'))

In [22]:
df.head(5)

,title,year,rate,dir,star1,star2
0,The Shawshank Redemption,1994,9.2,Frank Darabont,Tim Robbins,Morgan Freeman
1,The Godfather,1972,9.1,Francis Ford Coppola,Marlon Brando,Al Pacino
2,The Godfather: Part II,1974,9.0,Francis Ford Coppola,Al Pacino,Robert De Niro
3,The Dark Knight,2008,9.0,Christopher Nolan,Christian Bale,Heath Ledger
4,12 Angry Men,1957,8.9,Sidney Lumet,Henry Fonda,Lee J. Cobb

### Add movie genre

In [23]:
url2 = "https://www.imdb.com/title/tt0111161/?ref_=nv_sr_srsg_0"
html2 = request.urlopen(url2).read().decode('utf8')

raw2 = BeautifulSoup(html2, 'html.parser', multi_valued_attributes=None)

In [24]:
it = raw2.find(attrs={'class':'subtext'})

In [25]:
it.a.string

'Drama'